.loginA{
    display: flex;
    justify-content: center;
    background-color: rgb(71, 200, 240);
    height: 350px;
    width: 400px;
    margin: 25%;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25%;
}